.display-animation > *{
/*-moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);*/
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transform: scale(0, 0);
}
.no-js .display-animation > * {
/*  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);*/
  transform: scale(1, 1);
}
.display-animation.animating-in > *{
/*  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);*/
  transform: scale(1, 1);
}
.display-animation.animating-out > *{
/*  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);*/
  transform: scale(0, 0);
}
#teams {
  text-align: center;
  margin: 30px auto;
  width: 80%;
  position: relative;
  display: block;
}
#teams button {
  background: #e0e0e0;
  color: #757575;
  color: #424242;
  outline: none;
  border: none;
  padding: .5em 1em;
}
#teams button + * {
  margin-left: 20px;
}
#teams ul {
  list-style: none outside none;
  padding: 0;
  margin: 10px -15px;
  width: 100%;
}
#teams ul > * {
  background-color: #29B6F6;
  border: none;
  border-radius: 2%;
  cursor: pointer;
  display: inline-block;
  height: 12%;
  margin: 0.5%;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  width: 10%;
}
